@import 'https://fonts.googleapis.com/css?family=Oxygen:300,400,700';

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: #e9f6ff;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Oxygen", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}

main {
  background: #fff;
  margin: 0 auto;
  width: 44rem;
  max-width: 100%;
}

@media (min-width: 880px) {
  main {
    width: 86rem;
  }
}

@media (min-width: 1300px) {
  main {
    width: 128rem;
  }
}

@media (min-width: 1720px) {
  main {
    width: 170rem;
  }
}

header {
  background: #6ca1b4;
  padding: 2rem;
}

@media (min-width: 880px) {
  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}



h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 2.4rem;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 2.4rem;
  font-weight: 400;
  margin: 4rem 0 0 0;
  text-align: center;
}


nav {
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
}

nav a {
  border: 0.2rem solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 1);
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 1rem 0 0;
  padding: 0.7rem 1rem;
  text-decoration: none;
}

nav a:hover {
  border: 0.2rem solid rgba(255, 255, 255, 0.5);
}

.design-grid {
  list-style: none;
  padding: 2rem 0 0 2rem;
}


@media (min-width: 880px) {
  .design-grid {
    display: flex;
    flex-wrap: wrap;
  }
}

.design-grid__item {
  padding: 0 2rem 2rem 0;
}

.design-grid__link {
  display: block;
  position: relative;
  text-decoration: none;
}

@media (min-width: 880px) {
  .design-grid__link {
    width: 40rem;
  }
}

.design-grid__img {
  display: block;
  width: 100%;
}

.design-grid__number {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 4.5rem;
  height: 8rem;
  left: 50%;
  margin: -5rem 0 0 -5rem;
  opacity: 1;
  padding: 2rem 0 0 0;
  position: absolute;
  text-align: center; 
  top: 50%;
  transition: opacity 0.45s;
  width: 10rem;
}

.design-grid__link:hover .design-grid__number {
  opacity: 0.2;
}


@keyframes pulse {
    0% { opacity: 0 }
    50% { opacity: 0.5 }
    100% { opacity: 1 }
}

.shadow {
  animation: pulse 0.2s linear 1;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}




.modal {
  animation: pulse 0.2s linear 1;
  background: rgba(255, 255, 255, 1);
  left: 50%;
  margin-left: -42rem;
  position: absolute;
  top: 5rem;
  width: 80rem;
}


.design-detail__header {
  align-items: center;
  background: #6ca1b4;
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
}

.design-detail__date {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.4rem;
  margin: 1rem 0 4rem 0;
  text-align: center;
}

.design-detail__footer {
  display: flex;
}


.design-detail__list {
  font-size: 1.4rem;
  list-style: none;
  padding: 4rem;
  width: calc(50% - 8rem);
}

.design-detail__listtitle {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
}

.design-detail__listitem {
  line-height: 1.55;
  margin: 0 0 1rem 0;
}

.design-detail__image {
  display: block;
}

.design-detail__previous {
  text-align: left;
  width: 10rem;
}

.design-detail__next {
  text-align: right;
  width: 10rem;
}

.previous-design,
.next-design {
  display: block;
  padding: 4rem;
} 


.about__header {  
  background: #6ca1b4;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  padding: 4rem;
}

.about__p {
  font-size: 1.6rem;
  margin: 4rem;
}