@import 'https://fonts.googleapis.com/css?family=Oxygen:300,400,700';

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: #e9f6ff;
  font-family: "Oxygen", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}

main {
  background: #fff;
  margin: 5rem auto;
  width: 44rem;
}

@media (min-width: 860px) {
  main {
    width: 86rem;
  }
}

@media (min-width: 1280px) {
  main {
    width: 128rem;
  }
}

@media (min-width: 1700px) {
  main {
    width: 170rem;
  }
}

header {
  align-items: center;
  background: #6ca1b4;
  display: flex;
  justify-content: space-between;
}



h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 2.4rem;
  font-weight: 400;
  margin: 2rem;
}



nav {
  margin: 2rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav a {
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 1);
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 0 0 1rem;
  padding: 1rem 1.5rem;
  text-decoration: none;
}


.design-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 2rem 0 0 2rem;
}

.design-grid__item {
  margin: 0 2rem 2rem 0;
}

.design-grid__link {
  display: block;
  height: 30rem;
  width: 40rem;
  position: relative;
  text-decoration: none;
}

.design-grid__number {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 4.5rem;
  height: 8rem;
  left: 50%;
  margin: -5rem 0 0 -5rem;
  opacity: 1;
  padding: 2rem 0 0 0;
  position: absolute;
  text-align: center; 
  top: 50%;
  transition: opacity 0.45s;
  width: 10rem;
}

.design-grid__link:hover .design-grid__number {
  opacity: 0.2;
}


@keyframes pulse {
    0% { opacity: 0 }
    50% { opacity: 0.5 }
    100% { opacity: 1 }
}

.shadow {
  animation: pulse 0.2s linear 1;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}




.modal {
  animation: pulse 0.2s linear 1;
  background: rgba(255, 255, 255, 1);
  left: 50%;
  margin-left: -42rem;
  padding: 2rem;
  position: absolute;
  top: 5rem;
  width: 80rem;
}

